#chatBox{
    height: 433px;
    width: auto;
    border: 3.33px solid rgb(194, 194, 194);
    padding: 3px;
    overflow-y: scroll;
}

#messageText{
    color: rgb(155, 155, 255);
    
}

footer{
    color: rgba(204, 202, 202, 0.671);
    
}

#sendMessage, #btnLogin, #btnLogout{
    background: rgb(204, 202, 202);
}

input{
    text-align: center;
}

#mediaBox{
    width: 100%;
    /* position: relative; */
    height: auto;
    margin: 1px;
}
#timestampText{
    color: rgba(206, 206, 206, 0.671);
}

#cardDiv, p {
    padding: 0 !important;
    margin: 3px !important;
}

#messageDivDiv{
    overflow-wrap: break-word;
    margin-right: 15px;
}

#headerDiv,
#populationDiv {
    margin: 3px !important;
}
