#chatBox{
    height: 400px;
    width: auto;
    border: 2px solid black;
    overflow: scroll;
}

#messageText{
    color: rgb(155, 155, 255);
}

footer{
    color: rgb(204, 202, 202);
}

#sendMessage{
    background: rgb(204, 202, 202);
}

input{
    text-align: center;
}